{% extends 'layout.html' %}
{% from 'fields.html' import render_field %}

{% block section_content %}
    <div class="entry-list single">
        <article>
            <h1>{{ entry.title }}</h1>
            <time datetime="{{ entry.date }}">{{ entry.date.strftime('%B %d, %Y') }}</time>
            <div class="entry">
                <h3>Time Spent: </h3>
                <p>{{ entry.time_spent }} Hours</p>
            </div>
            <div class="entry">
                <h3>What I Learned:</h3>
                <p>{{ entry.learned|safe }}</p>
            </div>
            <div class="entry">
                <h3>Resources to Remember:</h3>
                <ul>
                    <li>{{ entry.resources|safe }}</li>
                </ul>
            </div>
            <div class="entry">
                <h3>Tags:</h3>
                <p>{{ entry.tags|safe }}</p>
            </div>
        </article>
    </div>
    {% if entry.user == current_user %}
        <div class="edit">
            <p><a href="{{ url_for('entry_edit', entry_id=entry.id)}}">Edit Entry</a></p>
        </div>
    {% endif %}

{% endblock %}