{% extends 'layout.html' %}
{% from 'fields.html' import render_field %}

{% block section_content %}
    <div class="edit-entry">
        <h2>Edit Entry</h2>
        <form method="POST" action="">
            {% for field in form %}
                {% if field.type != 'hidden' %}
                    {{ render_field(field) }}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Update Entry" class="button">
            <a href="{{ url_for('entry_list') }}" class="button button-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}