{% extends 'layout.html' %}

{% block section_content %}
<div class="entry-list">
    {% if entries %}
        {% for entry in entries %}
            <article>
                <h2><a href="{{ url_for('entry_detail', entry_id=entry.id) }}">{{ entry.title }}</a></h2>
                <time datetime="entry.date">{{ entry.date.strftime('%B %d, %Y') }}</time>
            </article>
        {% endfor %}
    {% else %}
        <article>
            <h2>Sorry, no entries have been added yet.</h2>
        </article>
    {% endif %}

</div>
{% endblock %}
