{% extends 'layout.html' %}
{% from 'fields.html' import render_field %}

{% block section_content %}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>New Entry</h2>
                <form method="POST" action="{{ url_for('new_entry') }}">
                    
                    {% for field in form %}
                      {{ render_field(field) }}
                    {% endfor %}
                    <input type="submit" value="Publish Entry" class="button">
                    <a href="#" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}